{% extends "layout.html" %} {% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ders</th>
            <th scope="col">Soru</th>
            <th scope="col">Cevap</th>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">E</th>
        </tr>
    </thead>
    <tbody>
        {% for q in questions %}
        <tr>
            <th scope="row">{{ q.questionId }}</th>
            <td>{{ q.lesson_id }}</td>
            <td>{{ q.question }}</td>
            <td>{{ q.answer }}</td>
            <td>{{ q.opt_A }}</td>
            <td>{{ q.opt_B }}</td>
            <td>{{ q.opt_C }}</td>
            <td>{{ q.opt_D }}</td>
            <td>{{ q.opt_E }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>


{% endblock content %}